h2 {
    text-align: center;
}

.add-todo-container {
    display: flex;
    margin: 20px;
    padding: 1vw;
    background-color: #f5f5f5;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.todos-wrapper {
    list-style-type: none;
    padding: 2vw;
    background-color: #eeecec;
    border-radius: 5px;
    width: 50%;
    padding-top: 0;
}

.add-sort-container {
    display: flex;
}

.todo-add-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #ffffff;
    color: #555;
}

.todo-add-button {
    padding: 10px 20px;
    border: none;
    background-color: #ff8566;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.todo-add-button:hover {
    background-color: #ff6f61;
}


.todo-item.completed .todo-title {
    text-decoration: line-through;
    color: gray;
}

.todo-id {
    margin-right: 10px;
    font-weight: bold;
}

.todo-title {
    flex: 1;
}

.error-message {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
}

.search-sort-container {
    margin-top: 4vw;
    background-color: #eeecec;
    padding: 2vw;
    width: 50%;
    padding-bottom: 0;
    border-radius: 5px;
}

.input-field-todo {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #ffffff;
    color: #555;
    margin-bottom: 10px;
    margin-right: 1vw;
}

.search-container,
.sort-container {
    display: flex;
    justify-content: center;
    align-self: center;
    justify-content: flex-start;
}

.sort-container label {
    align-self: center;
    font-size: inherit;
    padding: 1vw;
}

.todos-list {
    list-style-type: none;
    padding: 0;

}

select,
.todo-search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f2f2f2;
    color: #555;
}

.todo-search-input {
    flex: 1;
    margin-left: 10px;
}

.todo-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 4px solid #ddd;
    border-radius: 4px;
    justify-content: space-between;
    background-color: #f2f2f2;
}

.edit-container-todo {
    display: flex;
    border-radius: 4px;
    padding: 2px;
    background-color: #f2f2f2;
    width: 100%;
}

.edit-container-todo input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    background: #f2f2f2;
    width: 27vw;
}

.edit-container-todo button {
    padding: 10px 20px;
    background-color: #ff8566;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 1vw;
}

.edit-input {
    flex: 1;
}

.todo-item.completed .todo-title {
    text-decoration: line-through;
    color: gray;
}

.todo-item.bold {
    background-color: yellow;
}

.todo-id {
    margin-right: 10px;
    font-weight: bold;
}

.todo-title {
    flex: 1;
}

.error-message {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

ul {
    margin: 0vw;
    padding: 0vw;
}

button {
    background: none;
}

.add-sort-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.sort-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.todo-add-input,
.todo-add-button,
.sort-container select {
    height: 40px;
    line-height: 40px;
}